

body {
	background-image: url("../images/wall4.png");
}


.header {
	height: 90px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
	width: 960px;
}

.header a {
	text-decoration: none;
	color: #777777;
	line-height: 90px;
	padding-right: 30px;
}

.header nav {
	float: right;
}

.header h1 {
	background-color: #4aaaa5;
	color: #ffffff;
	font-weight: bold;
	width: 165px;
	height: 90px;
	float: left;
	text-align: center;
	line-height: 90px;
	font-size: 20px;
}

.main-content {
	width: 960px;
	margin: 0 auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}


.main-container {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	border: 2px solid #dddddd;
	width: 650px;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
}

hr {
	color: #777777;
}

.Aboutme {
	font-size: 30px;
	font-weight: bold;
	color: #4aaaa5;
}

.sidebar {
	float: left;
	width: 270px;
	height: 180px;
	position: absolute;
	margin-left: 690px;
	background-color: #ffffff;
	border: 2px solid #dddddd;
	text-align: center;
	line-height: 60px;
	color: #4aaaa5;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

.footer {
	clear: both;
	background-color: #666666;
	height: 85px;
	border-top: 5px solid #4aaaa5;
	text-align: center;
	line-height: 85px;
	color: #ffffff;
	font-size: 15px;
}


